async-generator==1.10
brotlipy==0.7.0
certifi==2021.5.30
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.2.2
dask-searchcv==0.2.0
future==0.18.2
HeapDict==1.0.1
ipython-genutils==0.2.0
locket==0.2.1
olefile==0.46
pandocfilters==1.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
pywinpty==0.5.7
PyYAML==5.4.1
scikit-image==0.18.1
Send2Trash==1.5.0
terminado==0.9.4
webencodings==0.5.1
wincertstore==0.2
zict==2.0.0
